<footer>
    <section class="container-fluid">
        <button class="button-arrow">
        </button>
        <div class="logos-footer">
            <img src="../../../assets/github-footer.svg" alt="github-logo">
            <img src="../../../assets/linkedin-footer.svg" alt="linkedin-logo">
            <img src="../../../assets/netlify-footer.svg" alt="netlify-logo">
            <img src="../../../assets/vercel-footer.svg" alt="vercel-logo">
            <img src="../../../assets/twitter-footer.svg" alt="twitter-logo">
        </div>
        <div class="copyright">
            <p>&copy; Copyright 2023</p><span>Emmanuel Van Dick</span>
        </div>
    </section>
</footer>