<footer>
    <section class="container-fluid">
        <div class="button-div">
            <button class="button-arrow"></button>
        </div>
        <div class="logos-footer"> 
            <a href="">
                <img src="../../../assets/github-footer.svg" alt="github-logo">
            </a>
            <a href="">
                <img src="../../../assets/linkedin-footer.svg" alt="linkedin-logo">
            </a>
            <a href="">
                <img src="../../../assets/netlify-footer.svg" alt="netlify-logo">
            </a>
            <a href="">
            <img src="../../../assets/vercel-footer.svg" alt="vercel-logo">
            </a>
            <a href="">
            <img src="../../../assets/twitter-footer.svg" alt="twitter-logo">
            </a>            
        </div>
        <div class="copyright">
            <p>&copy; Copyright 2023</p><span>Emmanuel Van Dick</span>
        </div>
    </section>
</footer>