<nav class="nav-bar">
    <a href="http://" target="_blank" rel="noopener noreferrer"><img class="ap-logo" src="../../../assets/ap-logo.svg" alt="Logo Argentina Programa"></a>
    <div class="nav-right">
        <div class="logos">
            <a href="#"><img class="logo-linkedin" src="../../../assets/linkedin-logo.svg" alt="Linkedin logo"></a>
            <a href="#"><img class="logo-twitter" src="../../../assets/twitter-logo.svg" alt="Twitter logo"></a>
            <a href="#"><img class="logo-fb" src="../../../assets/fb-logo.svg" alt="Facebook logo"></a>
            <a href="#"><img class="logo-github" src="../../../assets/github-logo.svg" alt="Github logo"></a>
        </div>
        <button class="btn" type="submit" (click)="login()">
            <p>LOGIN</p>
        </button>
    </div>
</nav>