<section class="section-formacion">
    <aside></aside>
    <div class="card card-formacion">
        <h1>Formación Académica</h1>
        <section class="container-fluid">

            <div class="card card-mobile">
                <img class="card-img-top" src="../../../assets/ux-ui-open.png" alt="Logo de UX/UI Open">
                <div class="card-body">
                    <h5 class="card-title">Formación en Diseño UX/UI</h5>
                    <p class="card-text">2023 - UX/UI Open</p>
                </div>
            </div>

            <div class="card card-mobile">
                <img class="card-img-top" src="../../../assets/alura-oracle.png" alt="Logo de Alura y Oracle">
                <div class="card-body">
                    <h5 class="card-title">Especialización Front End</h5>
                    <p class="card-text">2023 - Oracle y Alura</p>
                </div>
            </div>

            <div class="card card-mobile">
                <img class="card-img-top" src="../../../assets/ap-target.png" alt="Logo de Argentina Programa">
                <div class="card-body">
                    <h5 class="card-title">Desarrollador Web Full Stack</h5>
                    <p class="card-text">2022/2023 - Argentina Programa</p>
                </div>
            </div>

            <div class="card card-mobile">
                <img class="card-img-top" src="../../../assets/ob-logo.png" alt="Logo de Open Bootcamp">
                <div class="card-body">
                    <h5 class="card-title">Python Básico</h5>
                    <p class="card-text">2022/2023 - Open Bootcamp</p>
                </div>
            </div>

            <div class="card card-mobile">
                <img class="card-img-top" src="../../../assets/ob-logo.png" alt="Logo de Open Bootcamp">
                <div class="card-body">
                    <h5 class="card-title">Introducción a la programación</h5>
                    <p class="card-text">2022/2023 - Open Bootcamp</p>
                </div>
            </div>
        </section>
    </div>
    <aside></aside>
</section>