<main>
    <section class="contacto">
        <article class="contacto-left">
            <aside>
                <img src="../../../assets/message-card.svg" class="message-card" alt="message-card">
            </aside>
            <section class="header-contacto--left">
                <h3>¿Cómo puedo ayudarte?<span id="asterisco">*</span></h3>
                <section class="btns">
                    <button type="button" class="btn">
                        <p>Frontend web design</p>
                    </button>
                    <button type="button" class="btn">
                        <p>UX/UI web design</p>
                    </button>
                    <button type="button" class="btn">
                        <p>Backend web design</p>
                    </button>
                    <button type="button" class="btn">
                        <p>Full project</p>
                    </button>
                </section>
            </section>
            <form class="formulario" action="">
                <input type="text" placeholder="Name">
                <input type="text" placeholder="Password">
                <textarea name="message" id="textarea" cols="30" rows="10" placeholder="Message"></textarea>
            </form>
            <div>
                <button class="btn submit">
                    <p>Enviar mensaje</p>
                </button>
            </div>
        </article>
        <article class="contacto-right">
            <img class="bg-contacto img-fluid" src="../../../assets/bg-contacto.svg" alt="background-contacto">
            <h2>Tienes una idea?</h2>
            <h2><span>Podemos hacerla posible!</span></h2>
            <div class="contacto-links">
                <ul>
                    <li><img src="../../../assets/message-mini-card.svg" alt="message-mini-card">
                        <a href="mailto:emmaaavd@gmail.com"><p>emmaaavd@gmail.com</p></a>
                    </li>
                    <li><img src="../../../assets/location-mini.svg" alt="location-mini">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><p>Chubut, Argentina</p></a>
                    </li>
                    <li><img src="../../../assets/linkedin-mini.svg" id="linkedin-mini" alt="linkedin-mini">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><p>Emmanuel van Dyk</p></a>
                    </li>
                    <li><img src="../../../assets/github-mini.svg" alt="github-mini">
                        <a href="http://" target="_blank" rel="noopener noreferrer"><p>emmanuel-vandyk</p></a>
                        
                    </li>
                </ul>
            </div>
        </article>
    </section>
</main>
<div class="button-div">
    <a href="#banner"></a><button type="submit" class="button-arrow"></button>
</div>