<body>
    <section class="section-skills">
        <div class="card">
            <h1>Hard Skills</h1>
            <div class="card-body">
                <circle-progress [percent]="70" [imageHeight]="38" [imageSrc]="'../assets/html-logo.svg'"
                    class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/css-logo.svg'" [imageHeight]="38" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/js-logo.svg'" [imageHeight]="38" [imageWidth]="38" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/node-logo.svg'"[imageHeight]="45" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/typescript-logo.svg'" [imageHeight]="38" [imageWidth]="38" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/angular-logo.svg'" [imageHeight]="43" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/react.svg'" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/bootstrap-logo.svg'" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/figma-logo.svg'" [imageWidth]="30" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/python.svg'" [imageHeight]="65" [imageWidth]="65" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/java.svg'" class="circle-progress"></circle-progress>
                <circle-progress [imageSrc]="'../assets/mysql.svg'" class="circle-progress"></circle-progress>
            </div>
        </div>
        <div class="card">
            <h1>Soft Skills</h1>
            <div class="card-body"></div>
        </div>
    </section>
</body>