<section class="section-skills">
    <div class="card">
        <h1 class="card-header">Hard Skills</h1>
        <div class="card-body">
            <circle-progress
                [percent]="70"
                [imageSrc]="'../assets/html-logo.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/css-logo.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/js-logo.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/node-logo.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/typescript-logo.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/angular-logo.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/react.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/bootstrap-logo.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/figma-logo.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/python.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/java.svg'"
            ></circle-progress>
            <circle-progress
                [imageSrc]="'../assets/mysql.svg'"
            ></circle-progress>
        </div>
    </div>
</section>