<section class="row">
    <div class="title-dev col-md-3">
        <h3 id="nombre">{{ persona.nombre }}</h3>
        <button class="btn" type="submit">Resume<img class="download-img" src="../../../assets/descarga.svg" alt="Logo de descarga"></button>
    </div>
    <div class="card col-md-8">
        <h1 class="card-title">Sobre Mi</h1>
        <p class="card-body">Soy Emma, desarrollador web Full Stack con un año de experiencia.<span>Me gusta aprender por mi cuenta, y puedo comunicarme de manera efectiva.</span>También soy creativo y me esfuerzo por lograr sitios web de alta calidad y rendimiento, prestando atención a los detalles.</p>
    </div>
</section>
