/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Global Styles */
:root {
    --bg-general: #14191D;
    --name-font: 'Rock Salt', cursive;
    --general-font: 'Raleway', sans-serif;
    --fg-color: #ee7724;
    --log-btn: #13161A;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body:not(.circle-progress) {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-general);
    font-family: var(--general-font);
    font-style: normal;
    font-weight: 700;
    min-height: 100vh;
    margin: 0;
}