<div class="banner img-fluid">
    <section class="card">
        <div class="card-body">Emmanuel Van Dick</div>
        <article class="container-btns col-md-12">
            <button class="btn col-md-2">SOBRE MI</button>
            <button class="btn col-md-2">FORMACION</button>
            <button class="btn col-md-2">SKILLS</button>
            <button class="btn col-md-2">PROYECTOS</button>
            <button class="btn col-md-2">CONTACTO</button>
        </article>
    </section>
</div>
