<div class="banner img-fluid">
    <div class="section-perfil">
        <img class="img-perfil" src="../../../assets/personal-img.png" alt="Imagen de perfil personal">
    </div>
    <section class="card">
        <div class="card-body">Emmanuel Van Dick</div>
        <article class="container-btns">
            <button class="btn">SOBRE MI</button>
            <button class="btn">FORMACIÓN</button>
            <button class="btn">SKILLS</button>
            <button class="btn">PROYECTOS</button>
            <button class="btn">CONTACTO</button>
        </article>
    </section>
</div>