/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* Global Styles */
:root {
    --bg-general: #14191D;
    --name-font: 'Rock Salt', cursive;
    --general-font: 'Raleway', sans-serif;
    --fg-color: #EE652B;
    --log-btn: #13161A;
}

html {
    display: flex;
    flex-direction: column;
    height: 9053px;
    background-color: var(--bg-general);
}

body:not(.circle-progress) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: var(--bg-general);
    font-family: var(--general-font);
    font-style: normal;
    font-weight: 700
}


body {
    background-color: var(--bg-general);
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
