/* Skill Styles */
.section-skills {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: fit-content;
    gap: 20vh;
}

/* Card Skills */
.card {
    display: flex;
    width: 60%;
    text-align: center;
    color: var(--fg-color);
    margin: 0;
    background: var(--bg-general);
    border-radius: 0 0 10px 10px;
}

h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: -0.045em;
    line-height: 59px;
    color: var(--fg-color);
    border-radius: 10px 10px 0px 0px ;
    padding: 1rem 0;
    margin: 0;
    background: rgba(245, 245, 245, 0.05);
    box-shadow: 0px 4px 4px 0px #00000040;
    text-shadow: 0px 4px 4px rgb(0, 0, 0);
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 0 0 10px 10px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 4px 0px #00000040;
}

.hard-skills {
    gap: 2rem;
    padding: 2rem;
}

.soft-skills, .soft-skills-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 70vw;
    padding: 1rem 0;
    margin-top: .5rem;
}

.soft-skills-bottom {
    width: 100%;
}

.skill-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: .2rem;

}

p {
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    letter-spacing: -0.02em;
    color: var(--fg-color);
    text-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1rem 0;
    width: 11vw;
}

/* Responsive Mobile y Tablet */
@media screen and (min-width: 0) and (max-width: 1439px) {   
    .card, h1 {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }

    .card-body {
        margin: 0;
        width: calc(100% - 30px);
    }

    .hard-skills {
        width: 100%;
        gap: 1rem;
        padding: 1rem;
    }
 
    .circle-progress {
        display: flex;
        justify-content: center;
        margin: .5em 0;
        width: 28%;
        height: auto;
    }
    /* Soft Skills */
    .soft-body {
        width: 100%;
    }

    .soft-skills, .soft-skills-bottom {
        width: 90%;
        align-items: baseline;
        justify-content: space-between;
    }

    p {
        width: 30vw;
    }
}