<section class="section-proyectos">
    <div class="card card-proyectos">
        <h1>Proyectos</h1>
        <section class="container-fluid">
            <div class="card card-mobile">
                <img class="card-img-top" src="../../../assets/petshop.png">
                <div class="card-body">
                    <h5 class="card-title">Login Form</h5>
                    <p class="card-text">Formulario de validación</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid img-proyectos" src="../../../assets/recetas.png">
                <div class="card-body">
                    <h5 class="card-title">Fruta & Fruto</h5>
                    <p class="card-text">Página de recetas: utilizando Atomic Design CSS</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/encriptador.png">
                <div class="card-body">
                    <h5 class="card-title">Encriptador de texto</h5>
                    <p class="card-text">Página para encriptar y desencriptar texto</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/appeperia.png">
                <div class="card-body">
                    <h5 class="card-title">Appeperia Alura</h5>
                    <p class="card-text">Web con diseño responsive</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/mini-alura.png">
                <div class="card-body">
                    <h5 class="card-title">Mini Alura</h5>
                    <p class="card-text">Página de cursos con diseño responsive</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/p5.png">
                <div class="card-body">
                    <h5 class="card-title">Rutas de programación</h5>
                    <p class="card-text">Página de cursos</p>
                </div>
            </div>
            <div class="card card-mobile" >
                <img class="card-img-top img-fluid" src="../../../assets/us-states-cities.png">
                <div class="card-body">
                    <h5 class="card-title">US States & Cities</h5>
                    <p class="card-text">Web de densidad poblacional con filtro de ciudades y estados</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/web-gallery.png">
                <div class="card-body">
                    <h5 class="card-title">Web Gallery Motion</h5>
                    <p class="card-text">Galería de imágenes en movimiento</p>
                </div>
            </div>
            <div class="card card-mobile" >
                <img class="card-img-top img-fluid" src="../../../assets/variables-js.png">
                <div class="card-body">
                    <h5 class="card-title">Update CSS Variables</h5>
                    <p class="card-text">Web que modifica parámetros de CSS mediante variables de JS</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/reloj-web.png">
                <div class="card-body">
                    <h5 class="card-title">Reloj Web</h5>
                    <p class="card-text">Reloj desarrollado con Javascript</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/drum-kit.png">
                <div class="card-body">
                    <h5 class="card-title">Drum Kit JS</h5>
                    <p class="card-text">Drum Kit desarrollado con Javascript</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/film-directors.png">
                <div class="card-body">
                    <h5 class="card-title">Film Directors</h5>
                    <p class="card-text">Web que recopila directores de cine, sus películas y géneros</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/gui-login.jpg">
                <div class="card-body">
                    <h5 class="card-title">GUI Login App</h5>
                    <p class="card-text">GUI Desarrollada con Python y Tkinter</p>
                </div>
            </div>
            <div class="card card-mobile">
                <img class="card-img-top img-fluid" src="../../../assets/gui-sponsors.png" id="gui-sponsors">
                <div class="card-body">
                    <h5 class="card-title">GUI Sponsors</h5>
                    <p class="card-text">GUI Desarrollada con Python y Tkinter</p>
                </div>
            </div>
        </section>
    </div>
</section>