/* HEADER STYLES */

* {
    background-color: transparent;
}

/* Barra de navegación */
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.24));
    height: 10vh;
    width: 100%;
    position: fixed;
    z-index: 2;
} 

/* Logo Argentina Programa */
.ap-logo {
    margin-left: 1em;
    height: 50px;
}

/* Seccion derecha de la barra de navegación */
.nav-right {
    display: flex;
    text-align: center;
    align-items: baseline;
    width: 22vw;
    height: 50px;
    gap: 2em;
}

/* Sección Logos */
.logos {
    display: flex;
    align-items: center;
    gap: .7rem;
    height: 40px;
}

/* Botón Login */
.btn {
    height: 40px;
    text-align: center;
    color: rgba(249, 249, 250, 0.89);
    border: 3px solid #C1C1C1;
    border-radius: .9rem;
    box-shadow: 0px 0px 1px 0px #727272;
    filter: drop-shadow(0px 3px 1px rgba(0, 0, 0, 0.2));   
    mix-blend-mode: normal;
}
/* Texto Login */
p {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.030em;
    margin: 0;
    padding: 0 .5em;
}

/* Estilos logos de redes sociales */
.logo-linkedin {
    height: 35px;
}

.logo-twitter {
    height: 32px;
}

.logo-fb {
    height: 35px;
}

.logo-github {
    height: 35px;
}

/* Animaciones */
a:hover, .btn:hover {
    filter: contrast(110%) brightness(95%);
    transform: scale(1.2);
    transition-property: all;
    transition-duration: 500ms;
}

/* Responsive Mobile */
@media screen and (min-width: 0) and (max-width: 687px) {
    .nav-bar {
        margin: 0;
        width: calc(100% - 30px);
        height: calc(8vh - 58px) * 2;
    }
    
    .nav-right {
        align-items: center;
    }

    .ap-logo {
        margin-left: calc(2px * 2);
    }

    .logos {
        display: none;
    }
}