<nav class="nav-bar">
    <img class="ap-logo" src="../../../assets/ap-logo.svg" alt="Logo Argentina Programa">
    <div class="nav-right">
        <div class="logos">
            <a href="#"><img id="logo-linkedin" src="../../../assets/linkedin-logo.svg" alt="Linkedin logo"></a>
            <a href="#"><img id="logo-twitter" src="../../../assets/twitter-logo.svg" alt="Twitter logo"></a>
            <a href="#"><img id="logo-fb" src="../../../assets/fb-logo.svg" alt="Facebook logo"></a>
            <a href="#"><img id="logo-github" src="../../../assets/github-logo.svg" alt="Github logo"></a>
        </div>
        <button class="btn" type="submit">
            <p>LOGIN</p>
        </button>
    </div>
</nav>